{% extends "base.html" %}
{% load static %}

{% block title %}Design Challenge By Design Scorecard{% endblock %}


{% block content %}


<main>

  <!-- Best Pricing Start -->
  <section class="best-pricing pricing-padding mt-100" data-background="{% static 'img/gallery/covid-19.jpg' %}">
      <div class="container container-covid">
          <!-- Section Tittle -->
          <div class="row d-flex justify-content-center">
              <div class="col-lg-12 col-md-8">
                  <div class="section-tittle section-tittle2 text-center">
                      <h2>2020 Days Design Challenge (COVID-19 Response)</h2>
                      <div class="covid-19">
                        <p>You are likely a person who wants to learn, understand, practice and even teach experience design. This includes all professionals, amateurs, and students with interests in user experience design, interaction design, interface design and information architecture, but who have not been trained within a conventional design discipline.</p>
                        <p>You are likely a person who wants to learn, understand, practice and even teach experience design. This includes all professionals, amateurs, and students with interests in user experience design, interaction design, interface design and information architecture, but who have not been trained within a conventional design discipline.</p>
                        <p>No matter your background, little prior experience is needed: anyone can participate and learn from this challenge.</p>
                        <h2>Deadline: Thursday, 30th April 2020</h2>
                        <div class="say-btn challenge-btn">
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLSevkE_00yuov-pIJZPnYvgRaPJohJI34gaMkP6i919KkUqK4A/viewform?usp=sf_link" target="_blank" class="btn radius-btn">Register Now</a>
                            <a href="https://drive.google.com/file/d/1N-QtVL--2EwMt413FRo7B3BrGYWHHQ76/view?usp=sharing" class="btn download-instruction radius-btn" target="_blank">Download Instruction</a>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Shape -->
          <div class="app-shape app-shape-covid">
              <img src="{% static 'img/shape/app-shape-top.png' %}" alt="" class="app-shape-top heartbeat d-none d-lg-block">
          </div>
      </div>
  </section>
  <!-- Best Pricing End -->


    <!-- Best Features Start -->
    <section class="best-features-area inner-padding">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-xl-8 col-lg-10">
                    <!-- Section Tittle -->
                    <div class="row">
                        <div class="col-lg-10 col-md-10">
                            <div class="section-tittle">
                                <h2>Join the Community - The 10 Plus 10 Method</h2>
                            </div>
                        </div>
                    </div>
                    <!-- Section caption -->
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="single-features mb-70">
                                <div class="features-icon">
                                    <span >1</span>
                                </div>
                                <div class="features-caption">
                                    <h3>State your design challenge.</h3>
                                    <p>The goal is to be as creative as you can be. Brainstorm on possible means for food distribution (considering the fact that we will be dealing with both the receiver and the giver).</p>
                                </div>
                            </div>
                        </div>
                         <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="single-features mb-70">
                                <div class="features-icon">
                                    <span>2</span>
                                </div>
                                <div class="features-caption">
                                    <h3>Generate three (3) initial concepts.</h3>
                                    <p> Try to sketch your concept on a paper (don't worry if your sketching does not look beautiful at first). Make sure you add descriptions to every of your sketch for easy references.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="single-features mb-70">
                                <div class="features-icon">
                                    <span >3</span>
                                </div>
                                <div class="features-caption">
                                    <h3>Reduce the number of design concepts.</h3>
                                    <p>Streamline and reduce the number of your concepts to two (2). Review your concept and remove the one with lesser merit. </p>
                                </div>
                            </div>
                        </div>
                         <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="single-features mb-70">
                                <div class="features-icon">
                                    <span >4</span>
                                </div>
                                <div class="features-caption">
                                    <h3>Present your best idea(s) to a group.</h3>
                                    <p>You don't have to do this alone: there are ways to preserve these captured ideas so you can share and discuss them with your colleagues and friends. Gather as many feedback as possible from them.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="single-features mb-70">
                                <div class="features-icon">
                                    <span >5</span>
                                </div>
                                <div class="features-caption">
                                    <h3>Change your sketches.</h3>
                                    <p>As you keep getting new ideas, update your sketches. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="single-features mb-70">
                                <div class="features-icon">
                                    <span >6</span>
                                </div>
                                <div class="features-caption">
                                    <h3>Fine-tune your Ideas.</h3>
                                    <p>If you are a designer, use wireframe (XD, Illustrator or any graphic design) tools to make your idea more visible. And for those who can't use the tools, make sure your descriptions and sketches are easy to read and understand. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Shpe -->
        <div class="features-shpae features-shpae2 d-none d-lg-block">
            <img src="{% static 'img/shape/covid-19-1.png' %}" alt="">
        </div>
    </section>
    <!-- Best Features End -->

    <!-- Available App  Start-->
    <div class="available-app-area">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-xl-5 col-lg-6">
                    <div class="app-caption">
                        <div class="section-tittle section-tittle3">
                            <h2>The Design Challenge</h2>
                            <p>It is possible for citizens and government of a nation to communicate either via the media houses, social media or through campaigns. However, this does not really portray the ability for both parties to publicly device means of getting the right information as to what needs to be done (based on the density of vulnerability). </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="app-img">
                        <img src="{% static 'img/shape/available-app.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Available App End-->

    <!-- Say Something Start -->
    <div class="say-something-aera pt-90 pb-90 fix">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="offset-xl-1 offset-lg-1 col-xl-5 col-lg-5">
                    <div class="say-something-cap">
                        <h2>Lets Do This Together!</h2>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3">
                    <div class="say-btn">
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSevkE_00yuov-pIJZPnYvgRaPJohJI34gaMkP6i919KkUqK4A/viewform?usp=sf_link" target="_blank" class="btn radius-btn">Register</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- shape -->
        <div class="say-shape">
            <img src="{% static 'img/shape/say-shape-left.png" alt="" class="say-shape1 rotateme d-none d-xl-block">
            <img src="{% static 'img/shape/say-shape-right.png" alt="" class="say-shape2 d-none d-lg-block">
        </div>
    </div>
    <!-- Say Something End -->

    <div class="contact-cta">
        <div class="container">
            <div class="row">
                <h3 class="contact-header col-xl-5 col-lg-6">Join us to develop a design pattern for social inclusiveness!</h3><br>
                <div class="col-xl-5 col-lg-6 contact-details">
                    <p>For more information call:</p>
                    <a href="tel:08162880409">+234 816 288 0409</a><br>
                    <a href="mailto:challenge@designscorecard.com?Subject=Design%20Challenge" target="_top">challenge@designscorecard.com</a>
                </div>
            </div>
        </div>
    </div>

  </main>


{% endblock content %}
