{% extends "base.html" %}
{% load static %}

{% block title %}Design Challenge By Design Scorecard{% endblock %}


{% block content %}


<main>

  <!-- Best Pricing Start -->
  <section class="best-pricing pricing-padding mt-100" data-background="{% static 'img/gallery/covid-19.jpg' %}">
      <div class="container container-covid">
          <!-- Section Tittle -->
          <div class="row d-flex justify-content-center">
              <div class=" col-md-8">
                  <div class="section-tittle section-tittle2 text-center">
                      <h2>2020 Design Thinking Challenge (COVID-19 Response)</h2>
                      <div class="covid-19">
                        <p>This Design Challenge puts you through a thinking process on how to solve problems with any ideas, just as long as that idea can be understood and put into writing. Everyone has an interest in the development of the world around them, therefore it is of utmost importance that we come together to share those ideas, notwithstanding your educational, financial or professional background.</p>
                        <h3>Deadline: Thursday, 30th April 2020</h3>
                        <div class="say-btn challenge-btn">
                            <a href="#register" target="_blank" class="btn radius-btn register-btn">Register Now</a>
                            <a href="https://drive.google.com/open?id=1CbgoB1tSnzWlY0Y79vApWw7jxDICwP4q" class="btn download-instruction radius-btn" target="_blank">Download Instruction</a>
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLSevkE_00yuov-pIJZPnYvgRaPJohJI34gaMkP6i919KkUqK4A/viewform?usp=sf_link" target="_blank" class="btn radius-btn concept-btn">Submit Concepts</a>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Shape -->
          <div class="app-shape app-shape-covid">
              <img src="{% static 'img/shape/app-shape-top.png' %}" alt="" class="app-shape-top heartbeat d-none d-lg-block">
          </div>
      </div>
  </section>
  <!-- Best Pricing End -->

  <!-- Description -->
  <section class="">
    <div class="container container-covid">
        <!-- Section Tittle -->
        <div class="row d-flex justify-content-center">
            <div class="col-md-7">
                <div>
                    <div class="covid-19-desc">
                      <p>The Coronavirus has broken the economy of most nations around the World. According to CBN, over 123,600 people have been affected globally and this has led to a decline in the economy and everyday living. The price of the most reliant Crude Oil has also been affected falling to $17 per barrel. The fear of Global food insecurity has become heightened with a major concern on the Agricultural Sector and Production. The International Monetary Fund (IMF), has projected the Global revenue.</p>
                      <p>The novel Coronavirus Disease (nCOVID) now COVID-19 has become a global war. Nations are enacting various laws to prevent export of their commodity because of their indigenous panic buying. According to International Food Policy Research Institute (IFPRI), about 37 countries have enacted various forms of food restrictions in response to COVID-19
                      </p>
                      <p>The Design Challenge sets the tone for bringing in ideas from different points of view in order to get a large pool of people’s suggestions. To make things clear, the term “Design” does not necessarily mean a visual look or shape given to a certain object, to put it right, “Design Thinking”is all about providing clarity and solutions based approach to problem solving. </p>
                      <p>That is to say; this challenge is not restrictive to designers or architects alone (let the title "design Challenge" not give you that impression), it accommodates anyone and everyone can think of ways to curb most of the issues we have as humans, putting in various initiatives by which these ideas and concepts can reach the right people. </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Shape -->
        <div class="app-shape app-shape-covid">
            <img src="{% static 'img/shape/app-shape-top.png' %}" alt="" class="app-shape-top heartbeat d-none d-lg-block">
        </div>
    </div>
</section>
<!-- Description -->

    <!-- Available App  Start-->
    <div class="available-app-area">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-xl-5 col-lg-6">
                    <div class="app-caption">
                        <div class="section-tittle section-tittle3">
                            <h2>The Challenge - Food Security </h2>
                            <p>This challenge brings together citizens who can think of ways to curb most of the issues we have. Specifically, we have narrowed it down to our country Nigeria and its most prevalent issues. However, seeing that we cannot address it all, we would first focus on the high rate of food insecurity and hunger, especially during these times of the COVID19 Pandemic. <a href="https://drive.google.com/open?id=1CbgoB1tSnzWlY0Y79vApWw7jxDICwP4q" target="_blank" style="color: #f6d186;">Download Instruction For More!</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="app-img">
                        <img src="{% static 'img/shape/available-app.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Available App End-->


    <!-- Best Features Start -->
    <section class="best-features-area inner-padding">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-xl-8 col-lg-10">
                    <!-- Section Tittle -->
                    <div class="row">
                        <div class="col-lg-10 col-md-10">
                            <div class="section-tittle">
                                <h2>How to participate</h2>
                            </div>
                        </div>
                    </div>
                    <!-- Section caption -->
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="single-features mb-70">
                                <div class="features-icon">
                                    <span >1</span>
                                </div>
                                <div class="features-caption">
                                    <h3>State your Challenge.</h3>
                                    <p>The goal is to be as creative as possible. Brainstorm on ways by which food resources can be distributed in the most efficient way possible. (Put into consideration that we would be dealing with both the beneficiaries and distributors).</p>
                                </div>
                            </div>
                        </div>
                         <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="single-features mb-70">
                                <div class="features-icon">
                                    <span>2</span>
                                </div>
                                <div class="features-caption">
                                    <h3>Generate three (3) initial concepts.</h3>
                                    <p> Come up with a minimum of three (3) concepts. Sketch out your concept or idea in drawing or writing; this is just a sketch so it doesn't have to be completely perfect. Ensure it is as descriptive as possible for easy referencing, share with people around you to get feedback on these.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="single-features mb-70">
                                <div class="features-icon">
                                    <span >3</span>
                                </div>
                                <div class="features-caption">
                                    <h3>Reduce the number of your concepts.</h3>
                                    <p>Narrow your concepts down to two (2), review these and single out the one you feel is the best for the problem addressed.</p>
                                </div>
                            </div>
                        </div>
                         <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="single-features mb-70">
                                <div class="features-icon">
                                    <span >4</span>
                                </div>
                                <div class="features-caption">
                                    <h3>Fine-tune your Ideas.</h3>
                                    <p>If you are a designer, use wireframe (XD, Illustrator or any graphic design) tools to make your idea more visible. Other non-design tools can be used to describe the ideas (an essay, PowerPoint, pictorial representation) as long as it is well descriptive
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="single-features mb-70">
                                <div class="features-icon">
                                    <span >5</span>
                                </div>
                                <div class="features-caption">
                                    <h3>Submit your ideas.</h3>
                                    <p>Once we review your ideas and it’s shortlisted, we will contact and add you to the community where the implementations will commence. Goodluck!<a href="https://drive.google.com/open?id=1CbgoB1tSnzWlY0Y79vApWw7jxDICwP4q" target="_blank" style="color:darkslategray">Download Instructions</a> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Shpe -->
        <div class="features-shpae features-shpae2 d-none d-lg-block">
            <img src="{% static 'img/shape/covid-19-1.png' %}" alt="">
        </div>
    </section>
    <!-- Best Features End -->

    <div class="contact-cta">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-6">
                    <h3 class="contact-header">Join us to develop a design pattern for social inclusiveness!</h3><br><br>
                    <p>For more information call:<br>
                    <a href="tel:08162880409">+234 816 288 0409</a><br>
                    <a href="mailto:challenge@designscorecard.com?Subject=Design%20Challenge" target="_top">challenge@designscorecard.com</a>
                </div>
                <br>
                <br>
                <br>
                <div class="col-xl-5 col-lg-6 contact-details" id="register">
                    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScMuGPdaZUajQ-vsiC5n3fPe1THDoFhZpsdKAiIW5SM6jemIw/viewform?embedded=true" width="100%" height="700" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
                </div>
            </div>
        </div>
    </div>

  </main>


{% endblock content %}
